body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

button,
.btn:focus {
  box-shadow: none;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 0;
  padding-right: 0;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
  }

  @media screen and (min-width: 720px) and (max-width: 1439px) {
    max-width: 720px;
  }

  @media screen and (max-width: 719px) {
    width: 365px;
  }
}
