// font-family: 'Plus Jakarta Sans', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Yantramanav', sans-serif;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

#myCarousel .list-inline {
  white-space: nowrap;
  overflow-x: visible;
}

#myCarousel .carousel-indicators {
  position: static;
  left: initial;
  width: initial;
  margin-left: initial;
}

#myCarousel .carousel-indicators > li {
  width: initial;
  height: initial;
  text-indent: initial;

  & img {
    width: 148px;
    height: 124px;
    border-radius: 10px;
    transition: transform 250ms linear;
  }
}
.img-fluid {
  max-width: 492px;
  width: 492px;
  height: 360px;
  object-fit: cover;
  border-radius: 10px;
}

.img-slider {
  width: 148px;
  height: 124px;

  object-fit: contain;
}

.carousel-indicators {
  justify-content: space-between;
  margin-top: 24px;
}

.carousel-indicators li {
  margin: 0;
  border: none;
}

.carousel-indicators > li.active img {
  border-radius: 10px;
  // border: 10px solid black;
  box-shadow: 0px 0px 0px 11px #3563e9;
  outline: 9px solid #ffffff;
  transform: scale(0.87);
}

.carousel-indicators li {
  opacity: 1;
}
