$primary-accent-color: #3563e9;
$input-placeholder-color: #3d5278;
$sidebar-item-color: #94a7cb;
$sidebar-checkbox-text-color: #3d5278;
$sidebar-checkbox-text-secondly-color: #90a3bf;
$sidebar-checkbox-accent-color: #3563e9;
$hero-title-color: #ffffff;
$car-info-title-color: #1a202c;
$car-info-secondly-color: #3d5278;
$car-info-third-color: #90a3bf;
$button-text-color: #ffffff;
$button-background-color: #3563e9;
