<footer class="footer">
  <div class="row justify-content-between footer_info">
    <div class="col-md-3 footer__logo--inner">
      <div class="logo"><a href="#">Morent</a></div>
      <p class="logo__text">
        Our vision is to provide convenience and help increase your sales
        business.
      </p>
    </div>
    <div class="col-md-8 col-xl-6 footer__info">
      <div class="row">
        <div class="col-6 col-md-4 footer__links">
          <p class="footer__inner">About</p>
          <p class="footer__link">
            <a href="#" class="footer__link--inner">How it works</a>
          </p>
          <p class="footer__link">
            <a href="#" class="footer__link--inner">Featured</a>
          </p>
          <p class="footer__link">
            <a href="#" class="footer__link--inner">Partnership</a>
          </p>
          <p class="footer__link">
            <a href="#" class="footer__link--inner">Bussines Relation</a>
          </p>
        </div>
        <div class="col-6 col-md-4 footer__links">
          <p class="footer__inner">Community</p>
          <p class="footer__link">
            <a href="#" class="footer__link--inner">Events</a>
          </p>
          <p class="footer__link">
            <a href="#" class="footer__link--inner">Blog</a>
          </p>
          <p class="footer__link">
            <a href="#" class="footer__link--inner">Podcast</a>
          </p>
          <p class="footer__link">
            <a href="#" class="footer__link--inner">Invire a friend</a>
          </p>
        </div>
        <div class="col-6 col-md-4 footer__links">
          <p class="footer__inner">Social</p>
          <p class="footer__link">
            <a href="#" class="footer__link--inner">Discord</a>
          </p>
          <p class="footer__link">
            <a href="#" class="footer__link--inner">Instagram</a>
          </p>
          <p class="footer__link">
            <a href="#" class="footer__link--inner">Twitter</a>
          </p>
          <p class="footer__link">
            <a href="#" class="footer__link--inner">Facebook</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-politics">
    <div class="row">
      <div class="col-12 col-md-6 order-last order-md-first">
        &copy;2022 MORENT. All right reserved
      </div>
      <div class="col">
        <div class="row justify-content-end foooter__privacy">
          <div class="col-6 col-md-6 col-xl-4">
            <a href="#">Privacy & Policy</a>
          </div>
          <div class="col-6 col-md-6 col-xl-4">
            <a href="#">Terms & Conditions</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
