<header class="row header wrapper">
  <div class="col d-flex align-items-stretch header__inner">
    <div class="header-leftside">
      <button
        type="button"
        class="btn burger-btn js-burger-btn"
        aria-label="Open sidebar"
      >
        <i class="fa-solid fa-bars"></i>
      </button>
      <div class="logo"><a href="#">Morent</a></div>
    </div>
    <div class="d-flex justify-content-center">
      <form class="header__form">
        <label>
          <i class="fa-brands fa-sistrix header__search-icon"></i>
          <input type="text" placeholder="Search something here" />
        </label>

        <button type="button" class="btn input-button">
          <i class="fa-solid fa-sliders"></i>
        </button>
      </form>
    </div>
  </div>
  <div class="d-flex justify-content-end header-profile">
    <div class="header-icons">
      <button type="button" class="header__btn" aria-label="Like">
        <i class="fa-solid fa-heart"></i>
      </button>
      <button type="button" class="header__btn" aria-label="Notification">
        <i class="fa-solid fa-bell"></i>
        <span class="header__btn--alert"></span>
      </button>
      <button type="button" class="header__btn" aria-label="Settings">
        <i class="fa-solid fa-gear"></i>
      </button>
    </div>
    <a href="#">
      <img src="./images/profill-1.png" alt="avatar" class="avatar" />
    </a>
  </div>
</header>
