<main>
  <div class="row">
    <div class="col-4 car-info__inner">
      <div>
        <p>Type</p>
        <div class="form-check">
          <ul class="p-0">
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                Sport <span>(10)</span>
              </label>
            </li>
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                SUV <span>(12)</span>
              </label>
            </li>
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                MPV <span>(16)</span>
              </label>
            </li>
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                Sedan <span>(20)</span>
              </label>
            </li>
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                Coupe <span>(14)</span>
              </label>
            </li>
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                Hatchback <span>(14)</span>
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <p>Capacity</p>
        <div class="form-check">
          <ul class="p-0">
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                2 Person <span>(10)</span>
              </label>
            </li>
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                4 Person <span>(14)</span>
              </label>
            </li>
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                6 Person <span>(12)</span>
              </label>
            </li>
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                8 or More <span>(16)</span>
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <p>Price</p>
        <input type="range" min="25" max="125" />
        <p>Max. $100.00</p>
      </div>
    </div>
    <div class="col row car-info__inner">
      <div class="col">
            <div id="slider" class="car-info__slider">
              <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                  <div class="active carousel-item" data-slide-number="0">
                    <img
                      src="./images/main-car.png"
                      class="img-fluid"
                    />
                  </div>
                  <div class="carousel-item" data-slide-number="1">
                    <img
                      src="./images/car-slider-2-xl.png"
                      class="img-fluid"
                    />
                  </div>
                  <div class="carousel-item" data-slide-number="2">
                    <img
                      src="./images/car-slider-3-xl.png"
                      class="img-fluid"
                    />
                  </div>
        
                </div>
                <ul class="carousel-indicators list-inline mx-auto">
                  <li class="list-inline-item active">
                    <a
                      id="carousel-selector-0"
                      class="selected"
                      data-slide-to="0"
                      data-target="#myCarousel"
                    >
                      <img
                        src="./images/car-slider-1.png"
                        class="img-fluid img-slider"
                      />
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      id="carousel-selector-1"
                      data-slide-to="1"
                      data-target="#myCarousel"
                    >
                      <img
                        src="./images/car-slider-inner-2.png"
                        class="img-fluid img-slider"
                      />
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      id="carousel-selector-2"
                      data-slide-to="2"
                      data-target="#myCarousel"
                    >
                      <img
                        src="./images/car-slider-inner-3.png"
                        class="img-fluid  img-slider"
                      />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!--/main slider carousel-->
      <div class="col"></div>

        </div>
      </div>
    </div>
  </div>
</main>
