<main>
  <div class="row">
    <div class="col-xxl-4 col-lg-3  car-info__inner">
      <div>
        <p>Type</p>
        <div class="form-check">
          <ul class="p-0">
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                Sport <span>(10)</span>
              </label>
            </li>
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                SUV <span>(12)</span>
              </label>
            </li>
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                MPV <span>(16)</span>
              </label>
            </li>
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                Sedan <span>(20)</span>
              </label>
            </li>
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                Coupe <span>(14)</span>
              </label>
            </li>
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                Hatchback <span>(14)</span>
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <p>Capacity</p>
        <div class="form-check">
          <ul class="p-0">
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                2 Person <span>(10)</span>
              </label>
            </li>
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                4 Person <span>(14)</span>
              </label>
            </li>
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                6 Person <span>(12)</span>
              </label>
            </li>
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                8 or More <span>(16)</span>
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <p>Price</p>
        <input type="range" min="25" max="125" />
        <p>Max. $100.00</p>
      </div>
    </div>
    <div class="col row car-info__inner car-info__inner--main">
      <div class="col">
        <h1 class="main__title">Sports car with the best disgn and acceleration</h1>
            <div id="slider" class="car-info__slider">
              <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                  <div class="active carousel-item" data-slide-number="0">
                    <img
                      src="./images/main-car.png"
                      class="img-fluid"
                    />
                  </div>
                  <div class="carousel-item" data-slide-number="1">
                    <img
                      src="./images/car-slider-2-xl.png"
                      class="img-fluid"
                    />
                  </div>
                  <div class="carousel-item" data-slide-number="2">
                    <img
                      src="./images/car-slider-3-xl.png"
                      class="img-fluid"
                    />
                  </div>
        
                </div>
                <ul class="carousel-indicators list-inline mx-auto">
                  <li class="list-inline-item active">
                    <a
                      id="carousel-selector-0"
                      class="selected"
                      data-slide-to="0"
                      data-target="#myCarousel"
                    >
                      <img
                        src="./images/car-slider-1.png"
                        class="img-fluid img-slider"
                      />
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      id="carousel-selector-1"
                      data-slide-to="1"
                      data-target="#myCarousel"
                    >
                      <img
                        src="./images/car-slider-2-xl.png"
                        class="img-fluid img-slider"
                      />
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a
                      id="carousel-selector-2"
                      data-slide-to="2"
                      data-target="#myCarousel"
                    >
                      <img
                        src="./images/car-slider-3-xl.png"
                        class="img-fluid  img-slider"
                      />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!--/main slider carousel-->
      <div class="col car-info">
        <div class="car-info__head">
          <div>
          <h2 class="car-info__title">Nissan GT-R</h2>
          <i class="fa-solid fa-star accent"></i>
          <i class="fa-solid fa-star accent"></i>
          <i class="fa-solid fa-star accent"></i>
          <i class="fa-solid fa-star accent"></i>
          <i class="fa-solid fa-star"></i>
          <span>400+ Reviewers</span>
          </div>
          <i class="fa-solid fa-heart car-info__icon"></i>
        </div>
        <p class="car-info__text">NISMO has become the embodiment of Nissan's outstanding performance, inspired by the most unforgiving proving ground, the "race track".</p>
        <div class="car-info__information">
          <div class="car-info__information--inner">
            <div class="car-info__information--text">
            <p>Type Car</p> <p class="accent">Sport</p>
            </div>
            <div class="car-info__information--text">
            <p>Steering</p> <p class="accent">Manual</p>
            </div>

          </div>
           <div class="car-info__information--inner">
            <div class="car-info__information--text">
            <p>Capacity</p> <p class="accent">2 Person</p>
            </div>
            <div class="car-info__information--text">
            <p>Gasoline</p> <p class="accent">70L</p>
            </div>

          </div>
      </div>
      <div class="car-info__rent">
        <div class="car-info__price">
          <p class="car-info__price--actual">$80.00/<span>days</span></p>
          <p class="car-info__price--sale">$100.00</p>
        </div>
        <button type="button" class="btn btn-primary btn-rent" aria-label="Rent Now">Rent Now</button>
      </div>

        </div>
      </div>
    </div>
  </div>
</main>
