<main>
  <div class="row">
    <div class="col-xxl-4 col-lg-3 car-info__inner">
      <div>
        <p>Type</p>
        <div class="form-check">
          <ul class="p-0">
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                Sport <span>(10)</span>
              </label>
            </li>
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                SUV <span>(12)</span>
              </label>
            </li>
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                MPV <span>(16)</span>
              </label>
            </li>
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                Sedan <span>(20)</span>
              </label>
            </li>
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                Coupe <span>(14)</span>
              </label>
            </li>
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                Hatchback <span>(14)</span>
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <p>Capacity</p>
        <div class="form-check">
          <ul class="p-0">
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                2 Person <span>(10)</span>
              </label>
            </li>
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                4 Person <span>(14)</span>
              </label>
            </li>
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                6 Person <span>(12)</span>
              </label>
            </li>
            <li>
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" />
                8 or More <span>(16)</span>
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <p>Price</p>
        <input type="range" min="25" max="125" />
        <p>Max. $100.00</p>
      </div>
    </div>
    <section class="col row car-info__inner car-info__inner--main">
      <div class="col car-info__carousel">
        <h1 class="main__title">
          Sports car with the best disgn and acceleration
        </h1>
        <div id="slider" class="car-info__slider">
          <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="active carousel-item" data-slide-number="0">
                <img src="./images/main-car.png" class="img-fluid" />
              </div>
              <div class="carousel-item" data-slide-number="1">
                <img src="./images/car-slider-2-xl.png" class="img-fluid" />
              </div>
              <div class="carousel-item" data-slide-number="2">
                <img src="./images/car-slider-3-xl.png" class="img-fluid" />
              </div>
            </div>
            <ul class="carousel-indicators list-inline mx-auto">
              <li class="list-inline-item active">
                <a
                  id="carousel-selector-0"
                  class="selected"
                  data-slide-to="0"
                  data-target="#myCarousel"
                >
                  <img
                    src="./images/car-slider-1.png"
                    class="img-fluid img-slider"
                  />
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  id="carousel-selector-1"
                  data-slide-to="1"
                  data-target="#myCarousel"
                >
                  <img
                    src="./images/car-slider-2-xl.png"
                    class="img-fluid img-slider"
                  />
                </a>
              </li>
              <li class="list-inline-item">
                <a
                  id="carousel-selector-2"
                  data-slide-to="2"
                  data-target="#myCarousel"
                >
                  <img
                    src="./images/car-slider-3-xl.png"
                    class="img-fluid img-slider"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--/main slider carousel-->
      <div class="col car-info">
        <div class="car-info__head">
          <div>
            <h2 class="car-info__title">Nissan GT-R</h2>
            <i class="fa-solid fa-star accent"></i>
            <i class="fa-solid fa-star accent"></i>
            <i class="fa-solid fa-star accent"></i>
            <i class="fa-solid fa-star accent"></i>
            <i class="fa-solid fa-star"></i>
            <span>400+ Reviewers</span>
          </div>
          <i class="fa-solid fa-heart car-info__icon"></i>
        </div>
        <p class="car-info__text">
          NISMO has become the embodiment of Nissan's outstanding performance,
          inspired by the most unforgiving proving ground, the "race track".
        </p>
        <div class="row car-info__information">
          <div class="col car-info__information--inner">
            <div class="car-info__information--text">
              <p>Type Car</p>
              <p class="accent">Sport</p>
            </div>
            <div class="car-info__information--text">
              <p>Steering</p>
              <p class="accent">Manual</p>
            </div>
          </div>
          <div class="col car-info__information--inner">
            <div class="car-info__information--text">
              <p>Capacity</p>
              <p class="accent">2 Person</p>
            </div>
            <div class="car-info__information--text">
              <p>Gasoline</p>
              <p class="accent">70L</p>
            </div>
          </div>
        </div>
        <div class="car-info__rent">
          <div class="car-info__price">
            <p class="car-info__price--actual">$80.00/<span>days</span></p>
            <p class="car-info__price--sale">$100.00</p>
          </div>
          <button
            type="button"
            class="btn btn-primary btn-rent"
            aria-label="Rent Now"
          >
            Rent Now
          </button>
        </div>
      </div>
      <div class="reviews">
        <div class="reviews__inner">
          <div class="reviews__head">
            <h2 class="reviews__title">Reviews</h2>
            <span class="reviews__head--number">13</span>
          </div>
          <div class="row reviews__member">
            <div class="col-1 reviews__avatar">
              <img src="./images/Profill-1.png" alt="Alex Stanton" />
            </div>
            <div class="col reviews__member--inner">
              <div class="d-flex justify-content-between reviews__member-info">
                <div>
                  <p class="reviews__name">Alex Stanton</p>
                  <p class="reviews__profession">CEO at Bukalapak</p>
                </div>
                <div>
                  <p>21 July 2022</p>
                  <i class="fa-solid fa-star accent"></i>
                  <i class="fa-solid fa-star accent"></i>
                  <i class="fa-solid fa-star accent"></i>
                  <i class="fa-solid fa-star accent"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
              </div>
              <p class="reviews__text">
                We are very happy with the service from the MORENT App. Morent
                has a low price and also a large variety of cars with good and
                comfortable facilities. In addition, the service provided by the
                officers is also very friendly and very polite.
              </p>
            </div>
          </div>
          <div class="row reviews__member">
            <div class="col-1 reviews__avatar">
              <img src="./images/Profill-2.png" alt="Alex Stanton" />
            </div>
            <div class="col reviews__member--inner">
              <div class="d-flex justify-content-between reviews__member-info">
                <div>
                  <p class="reviews__name">Skylar Dias</p>
                  <p class="reviews__profession">CEO at Amazon</p>
                </div>
                <div>
                  <p>20 July 2022</p>
                  <i class="fa-solid fa-star accent"></i>
                  <i class="fa-solid fa-star accent"></i>
                  <i class="fa-solid fa-star accent"></i>
                  <i class="fa-solid fa-star accent"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
              </div>
              <p class="reviews__text">
                We are greatly helped by the services of the MORENT Application.
                Morent has low prices and also a wide variety of cars with good
                and comfortable facilities. In addition, the service provided by
                the officers is also very friendly and very polite.
              </p>
            </div>
          </div>
          <button
            type="button"
            class="btn show-all__button"
            aria-label="Show all button"
          >
            Show All
            <i class="fa-solid fa-chevron-down show-all__button--arrow"></i>
          </button>
        </div>
      </div>
      <!-- RECENT CAR -->
      <div class="recent-car">
        <div class="row justify-content-between recent-car__inner">
          <div class="col recent-car__title"><h2>Recent Car</h2></div>
          <div class="col recent-car__view"><a href="#">View All</a></div>
        </div>
        <div class="row justify-content-between">
          <div class="col recent-car__card">
            <div class="row recent-car__card--inner">
              <div class="recent-car__card--title">
                <h3>Loenigsegg</h3>
                <p>Sport</p>
              </div>
              <div class="recent-car__like">
                <i class="fa-solid fa-heart recent-car__icon"></i>
              </div>
            </div>
            <div class="recent-car__img">
              <img
                class="recent-car__img--inner"
                src="./images/Car-1.png"
                alt="car for rent"
              />
              <div class="recent-car__img--shadow"></div>
            </div>
            <div class="row recent-car__specification">
              <div class="col"><i class="fa-solid fa-gas-pump"></i>90L</div>
              <div class="col"><i class="fa-solid fa-car"></i>Manual</div>
              <div class="col">
                <i class="fa-solid fa-user-group"></i>2 People
              </div>
            </div>
             <div class="d-flex justify-content-between align-items-baseline">
          <div class="recent-car__price">
            <p class="recent-car__price--actual">$80.00/<span>days</span></p>
          </div>
          <button
            type="button"
            class="btn btn-primary btn-rent"
            aria-label="Rent Now"
          >
            Rent Now
          </button>
          </div>
        </div>
          <div class="col recent-car__card">
            <div class="row recent-car__card--inner">
              <div class="recent-car__card--title">
                <h3>Nissan GT-R</h3>
                <p>Sport</p>
              </div>
              <div class="recent-car__like">
                <i class="fa-solid fa-heart recent-car__icon"></i>
              </div>
            </div>
            <div class="recent-car__img">
              <img
                class="recent-car__img--inner"
                src="./images/Car-2.png"
                alt="car for rent"
              />
              <div class="recent-car__img--shadow"></div>
            </div>
            <div class="row recent-car__specification">
              <div class="col"><i class="fa-solid fa-gas-pump"></i>80L</div>
              <div class="col"><i class="fa-solid fa-car"></i>Manual</div>
              <div class="col">
                <i class="fa-solid fa-user-group"></i>2 People
              </div>
            </div>
             <div class="d-flex justify-content-between align-items-baseline">
          <div class="recent-car__price">
            <p class="recent-car__price--actual">$80.00/<span>days</span></p>
            <p class="recent-car__price--sale">$100.00</p>
          </div>
          <button
            type="button"
            class="btn btn-primary btn-rent"
            aria-label="Rent Now"
          >
            Rent Now
          </button>
          </div>
        </div>
          <div class="col recent-car__card">
            <div class="row recent-car__card--inner">
              <div class="recent-car__card--title">
                <h3>Rolls-Royce</h3>
                <p>Sport</p>
              </div>
              <div class="recent-car__like">
                <i class="fa-solid fa-heart recent-car__icon"></i>
              </div>
            </div>
            <div class="recent-car__img">
              <img
                class="recent-car__img--inner"
                src="./images/Car-3.png"
                alt="car for rent"
              />
              <div class="recent-car__img--shadow"></div>
            </div>
            <div class="row recent-car__specification">
              <div class="col"><i class="fa-solid fa-gas-pump"></i>70L</div>
              <div class="col"><i class="fa-solid fa-car"></i>Manual</div>
              <div class="col">
                <i class="fa-solid fa-user-group"></i>4 People
              </div>
            </div>
             <div class="d-flex justify-content-between align-items-baseline">
          <div class="recent-car__price">
            <p class="recent-car__price--actual">$96.00/<span>days</span></p>
          </div>
          <button
            type="button"
            class="btn btn-primary btn-rent"
            aria-label="Rent Now"
          >
            Rent Now
          </button>
          </div>
        </div>
      </div>
        <!-- RECOMENDATION CAR -->
          <div class="recent-car">
        <div class="row justify-content-between recent-car__inner">
          <div class="col recent-car__title accent"><h2>Recomendation Car</h2></div>
          <div class="col recent-car__view"><a href="#">View All</a></div>
        </div>
        <div class="row justify-content-between">
          <div class="col recent-car__card">
            <div class="row recent-car__card--inner">
              <div class="recent-car__card--title">
                <h3>All New Rush</h3>
                <p>SUV</p>
              </div>
              <div class="recent-car__like">
                <i class="fa-solid fa-heart recent-car__icon"></i>
              </div>
            </div>
            <div class="recent-car__img">
              <img
                class="recent-car__img--inner"
                src="./images/Car-4.png"
                alt="car for rent"
              />
              <div class="recent-car__img--shadow"></div>
            </div>
            <div class="row recent-car__specification">
              <div class="col"><i class="fa-solid fa-gas-pump"></i>70L</div>
              <div class="col"><i class="fa-solid fa-car"></i>Manual</div>
              <div class="col">
                <i class="fa-solid fa-user-group"></i>6 People
              </div>
            </div>
             <div class="d-flex justify-content-between align-items-baseline">
          <div class="recent-car__price">
            <p class="recent-car__price--actual">$72.00/<span>days</span></p>
            <p class="recent-car__price--sale">$80.00</p>

          </div>
          <button
            type="button"
            class="btn btn-primary btn-rent"
            aria-label="Rent Now"
          >
            Rent Now
          </button>
          </div>
        </div>
          <div class="col recent-car__card">
            <div class="row recent-car__card--inner">
              <div class="recent-car__card--title">
                <h3>CR-V</h3>
                <p>SUV</p>
              </div>
              <div class="recent-car__like">
                <i class="fa-solid fa-heart recent-car__icon"></i>
              </div>
            </div>
            <div class="recent-car__img">
              <img
                class="recent-car__img--inner"
                src="./images/Car-5.png"
                alt="car for rent"
              />
              <div class="recent-car__img--shadow"></div>
            </div>
            <div class="row recent-car__specification">
              <div class="col"><i class="fa-solid fa-gas-pump"></i>80L</div>
              <div class="col"><i class="fa-solid fa-car"></i>Manual</div>
              <div class="col">
                <i class="fa-solid fa-user-group"></i>6 People
              </div>
            </div>
             <div class="d-flex justify-content-between align-items-baseline">
          <div class="recent-car__price">
            <p class="recent-car__price--actual">$80.00/<span>days</span></p>
          </div>
          <button
            type="button"
            class="btn btn-primary btn-rent"
            aria-label="Rent Now"
          >
            Rent Now
          </button>
          </div>
        </div>
          <div class="col recent-car__card">
            <div class="row recent-car__card--inner">
              <div class="recent-car__card--title">
                <h3>All New Terios</h3>
                <p>SUV</p>
              </div>
              <div class="recent-car__like">
                <i class="fa-solid fa-heart recent-car__icon"></i>
              </div>
            </div>
            <div class="recent-car__img">
              <img
                class="recent-car__img--inner"
                src="./images/Car-6.png"
                alt="car for rent"
              />
              <div class="recent-car__img--shadow"></div>
            </div>
            <div class="row recent-car__specification">
              <div class="col"><i class="fa-solid fa-gas-pump"></i>90L</div>
              <div class="col"><i class="fa-solid fa-car"></i>Manual</div>
              <div class="col">
                <i class="fa-solid fa-user-group"></i>6 People
              </div>
            </div>
             <div class="d-flex justify-content-between align-items-baseline">
          <div class="recent-car__price">
            <p class="recent-car__price--actual">$96.00/<span>days</span></p>
          </div>
          <button
            type="button"
            class="btn btn-primary btn-rent"
            aria-label="Rent Now"
          >
            Rent Now
          </button>
          </div>
        </div>
      </div>

      
    </section>
  </div>
</main>
