.header {
  padding: 40px 32px 40px 60px;
  border-bottom: solid rgba(195, 212, 233, 0.4);

  @media screen and (max-width: 767px) {
    padding: 32px 24px 32px 24px;
    position: relative;
  }

  &__inner {
    @media screen and (max-width: 1439px) {
      flex-direction: column;
    }
  }

  &-leftside {
    @media screen and (max-width: 1439px) {
      margin-bottom: 24px;
    }
  }

  & input {
    width: 492px;
    height: 44px;
    padding-left: 64px;
    padding-right: 64px;

    background-color: #fff;
    border: 1px solid rgba(195, 212, 233, 0.4);
    border-radius: 70px;

    @media screen and (min-width: 768px) and (max-width: 1439px) {
      height: 48px;
      width: 350px;
      border-radius: 10px;
      margin-right: 16px;
    }

    @media screen and (max-width: 767px) {
      width: 263px;
      height: 48px;
      border-radius: 10px;
      margin-right: 16px;
      padding-left: 40px;
      padding-right: 5px;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: -0.02em;

      color: #3d5278;
    }
  }

  &__form {
    position: relative;
    border: none;
    display: flex;
    & label {
      @media screen and (max-width: 1439px) {
        display: flex;
      }
    }
  }

  &-icons {
    @media screen and (max-width: 1439px) {
      display: none;
    }
  }

  &-profile {
    @media screen and (max-width: 767px) {
      position: absolute;

      top: 32px;
      right: 23px;
    }
  }
}

.logo {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #3563e9;

  @media screen and (min-width: 1440px) {
    margin-right: 64px;
  }

  @media screen and (max-width: 767px) {
    font-size: 24px;
  }
}

.burger-btn {
  @media screen and (min-width: 1440px) {
    display: none;
  }
  margin-bottom: 32px;
  padding-left: 0;

  & i {
    color: #3d5278;

    transition: color 250ms linear;

    &:hover,
    &:focus {
      color: #008cff;
    }
  }
}

.header__search-icon {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 20px;
  top: 15px;

  @media screen and (max-width: 1439px) {
    top: 17px;
  }
  @media screen and (max-width: 767px) {
    top: 17px;
    left: 15px;
  }
}

.input-button {
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 10px;
  @media screen and (min-width: 1440px) {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    border: none;
  }

  color: #3d5278;

  &:hover,
  &:focus {
    color: #008cff;
  }
}

.header__btn {
  width: 44px;
  height: 44px;
  margin-right: 20px;

  border-radius: 50%;
  border: 1px solid rgba(195, 212, 233, 0.4);

  color: #3d5278;

  background-color: transparent;

  position: relative;

  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: #008cff;
  }

  &--alert {
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #ff4423;

    position: absolute;
    top: 1px;
    right: 1px;
  }
}

.avatar {
  width: 44px;
  height: 44px;

  @media screen and (max-width: 767px) {
    width: 28px;
    height: 28px;
  }
}
