.main__title {
  display: none;
}

.car-info__inner {
  padding: 32px;
}

.car-info__inner--main {
  background-color: #f6f7f9;
}

.car-info__slider {
  //   max-width: 492px;
  //   max-height: 508px;
}

.car-info {
  padding: 24px 24px 32px 24px;
  margin-bottom: 32px;
  border-radius: 10px;

  background-color: #fff;

  position: relative;
}
.car-info__head {
  margin-bottom: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.car-info__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.4;
}

.car-info__icon {
  color: #90a3bf;
  font-weight: 400;
  width: 20px;

  position: absolute;
  top: 27px;
  right: 26px;
  transition: color 250ms linear;

  &:hover,
  &:focus padding {
    color: #ed3f3f;
    font-weight: 900;
  }
}

.car-info__head .fa-star {
  color: #c3d4e9;
  font-weight: 400;

  cursor: pointer;
}

.car-info__head .fa-star.accent {
  color: #fbad39;
  font-weight: 700;
}

.car-info__head span {
  margin-left: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #3d5278;
}

.car-info__text {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 20px;
  line-height: 2;
  letter-spacing: -0.02em;
  color: #3d5278;
}

.car-info__information {
  margin-bottom: 68px;

  &--text {
    display: flex;
    justify-content: space-between;
  }
}

.car-info__information--inner {
  width: 200px;

  &:not(:last-child) {
    margin-right: 44px;
  }
}

.car-info__information--text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  color: #90a3bf;

  & .accent {
    font-weight: 600;
    color: #3d5278;
  }
}

.car-info__rent {
  display: flex;
  justify-content: space-between;
}

.car-info__price--actual {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.25;
  display: flex;
  align-items: flex-end;

  color: #1a202c;

  & span {
    font-size: 18px;
    line-height: 1.18;
    color: #90a3bf;
  }
}

.car-info__price--sale {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: line-through;
  color: #90a3bf;
}

.btn-rent {
  padding: 16px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  text-align: center;
  outline: none;

  color: #ffffff;
  background-color: #3563e9;

  &:hover,
  &:focus {
    background-color: #008cff;
  }
}

.car-info__carousel {
  padding: 0;
  margin-right: 32px;
}
