.reviews {
  width: 100%;
}

.reviews__inner {
  padding: 24px 24px 34px 24px;

  border-radius: 10px;
  background-color: #ffffff;

  @media screen and (max-width: 719px) {
    padding: 16px 16px 26px 16px;
  }
}

.reviews__head {
  margin-bottom: 32px;
  display: flex;
  align-items: baseline;

  @media screen and (max-width: 719px) {
    margin-bottom: 24px;
  }
}

.reviews__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: -0.02em;

  color: #1a202c;
  margin-bottom: 0;
  margin-right: 12px;
}

.reviews__head--number {
  display: block;
  padding: 6px 12px;
  border-radius: 4px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;

  color: #ffffff;
  background-color: #3563e9;
}

.reviews__avatar {
  padding-right: 16px;
  & img {
    width: 56px;
    height: 56px;
    @media screen and (max-width: 1439px) {
      width: 44px;
      height: 44px;
    }
  }
}

.reviews__name {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;

  color: #1a202c;

  @media screen and (max-width: 719px) {
    font-size: 16px;
  }
}

.reviews__date p {
  margin-bottom: 6px;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #90a3bf;
  @media screen and (max-width: 719px) {
    font-size: 12px;
  }
}

.reviews__profession {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;

  color: #90a3bf;

  @media screen and (max-width: 719px) {
    font-size: 12px;
  }
}

.reviews__member .fa-star {
  color: #c3d4e9;
  font-weight: 400;

  cursor: pointer;
}

.reviews__member .fa-star.accent {
  color: #fbad39;
  font-weight: 700;
}

.reviews__member {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 34px;
  }

  @media screen and (max-width: 719px) {
    margin-bottom: 20px;
  }
}

.reviews__member p {
  margin-bottom: 10px;
}

.reviews__member-info {
  margin-bottom: 8px;

  @media screen and (max-width: 719px) {
    margin-bottom: 16px;
  }
}

.reviews__text {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;

  letter-spacing: -0.02em;

  color: #3d5278;
}

.show-all__button {
  padding: 10px 20px 10px 20px;
  background-color: #3563e9;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;

  display: block;
  margin-left: auto;
  margin-right: auto;

  color: #90a3bf;

  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: #212529;
  }

  &:hover .show-all__button--arrow,
  &:focus .show-all__button--arrow {
    color: #212529;
  }
}

.show-all__button--arrow {
  margin-left: 10px;
  width: 12px;
  height: 6px;
  color: #90a3bf;

  transition: color 250ms linear;
}

.hidden {
  display: none;
}
