.main {
  position: relative;
  overflow: hidden;
}

.sidebar {
  // max-width: 360px;
  background-color: #fff;
  @media screen and (max-width: 1439px) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 250ms linear;
  }

  & li:not(:last-child) {
    margin-bottom: 32px;
    @media screen and (max-width: 1439px) {
      margin-bottom: 20px;
    }
  }

  .sidebasr & p {
    margin-bottom: 28px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;

    letter-spacing: 0.02em;
    color: #94a7cb;
  }

  & .text {
    margin-left: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #3d5278;

    // @media screen and (max-width: 1439px) {
    //   margin-left: 3px;

    //   font-size: 14px;
    // }
  }

  & .accent {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #90a3bf;

    // @media screen and (max-width: 1439px) {
    //   font-size: 14px;
    // }
  }

  & input {
    width: 20px;
    height: 20px;

    @media screen and (max-width: 1439px) {
      width: 15px;
      height: 15px;
    }
  }

  &__inner:not(:last-child) {
    margin-bottom: 56px;
  }

  & .price__range {
    width: 82%;

    margin-bottom: 16px;
  }

  & .price__number {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;

    color: #3d5278;
  }
}
.is-sidebar-open {
  transform: translateX(0);
}
